asttokens==3.0.1
beautifulsoup4==4.15.0
certifi==2026.6.17
charset-normalizer==3.4.7
decorator==5.3.1
executing==2.2.1
idna==3.18
ipython==9.14.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
Jinja2==3.1.6
jsonpickle==4.1.2
MarkupSafe==3.0.3
matplotlib-inline==0.2.2
networkx==3.6.1
parso==0.8.7
pexpect==4.9.0
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
pyvis==0.3.2
requests==2.34.2
soupsieve==2.8.4
stack-data==0.6.3
traitlets==5.15.1
typing_extensions==4.15.0
urllib3==2.7.0
wcwidth==0.8.1
